<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="myCon" connectionString="Server=UTAN-ALIENWARE;Database=Online_Order_For_Digital_Photo_Printing;User Id=sa;Password=123456;MultipleActiveResultSets=True"/>
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
